/*styles.css*/

/*main styles*/
body {
    background-color: grey;
}

li {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif
}

.descr {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif
}

h4 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif
}

.Description_background {
    background-color: rgb(159, 230, 131);
    padding: 5px;
}

.Ingredients_background {
    background-color: aquamarine;
    padding: 5px;
    margin-top: 10px;
}

.Steps_background{
    background-color: rosybrown;
    padding: 5px;
    margin-top: 10px;
}

/*title styles*/
.Odin {
    background-color: rgb(119, 238, 135);
    width: 190px;
    margin: auto;
}

.italy {
    background: linear-gradient(to right, green 0%, green 33%, white 33%, white 66%, red 66%, red 100%);
    width: 140px;  
}

.italy_title {
    background: linear-gradient(to right, green 0%, green 33%, white 33%, white 66%, red 66%, red 100%);
    width: 240px;
    margin: auto;
}

.india {
    background: linear-gradient(to bottom, orange 0%, orange 33%, white 33%, white 66%, green 66%, green 100%) ;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    width: 180px;
}

.india_title {
    background: linear-gradient(to bottom, orange 0%, orange 33%, white 33%, white 66%, green 66%, green 100%) ;
    width: 320px;
    margin: auto;
}


.america {
    background-color: lightblue;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    width: 90px;
    height: 25px;
}

#BBQ_title {
    background-color: lightblue;
    width: 213px;
    margin:auto;
}

/*specific ingredients*/
#Sauce-ingredients {
    width: fit-content;
    display: inline-block;
}  

#Ribs-ingredients {
    position: absolute;
    width: fit-content;
    display: inline-block;
    width: 315px;
    height: 399px;
    margin-left: 325px;
}

/*specific steps*/

#Sauce-steps  {
    position: absolute;
    width: 315px;
    height: 399px;
    display: inline-block;
}

#Ribs-steps {
    position: absolute;
    width: 903px;
    height: 399px;
    display: inline-block;
    margin-left: 640px;
}

/*image styles*/

.America_flag {
    margin: auto;
    position: absolute;
    margin: 0 0 0 5px;
}

.BBQ {
    width: 400px;
    height: auto;
    margin: 5px auto;
    display: block;
}

.Curry {
    width: 400px;
    height: auto;
    display: block;
    margin: 5px auto;
}

.Pasta-Carbonara {
    width: 400px;
    height: auto;
    display: block;
    margin: 5px auto;
}